<tabset>
  <tab heading='User Management'>
  	<!-- <ul *ngFor="let user of users">
  		<li>{{user.username}}</li>
  	</ul> -->
  	<table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Email</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
    	<tr *ngFor="let user of users">
    	  <td>{{user.id}}</td>
    	  <td>{{user.username}}</td>
    	  <td>{{user.email}}</td>
        <td><span class="status text-success">&bull;</span> Active</td>
        <td>
          <!--<a href="#" class="settings" title="Settings" data-toggle="tooltip"><i class="material-icons">&#xE8B8;</i></a>-->
          <!--<a (clicked)="deleteUserClicked()" class="settings" title="Settings" data-toggle="tooltip"><i class="fa fa-cog" aria-hidden="true"></i></a>-->
          <!--<a (clicked)="deleteUserClicked()" class="delete" title="Delete" data-toggle="tooltip"><i class="fa fa-trash" aria-hidden="true"></i></a>-->
          <i (click)="settingsUserClicked()" class="fa fa-cog settings" aria-hidden="true"></i>
          <i (click)="deleteUserClicked(template)" class="fa fa-trash delete" aria-hidden="true"></i>
          <br><br>
          <ng-template #template>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Modal</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modal.closeModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
              <p> Shitcan user {{user.username}}?</p>
              <button type="button" class="btn btn-default" (click)="confirmDeleteUser(user.id)" ><i class = "fa fa-trash" aria-hidden="true"></i> Shitcan</button>
              <button type="button" class="btn btn-primary" (click)="modal.closeModal()" >Cancel</button>
            </div>
          </ng-template>
        </td>
      </tr>
      </tbody>
    </table>
  </tab>
  <tab>
    <ng-template tabHeading>Other Administrative Things</ng-template>
    Tab 2 content
  </tab>
</tabset>
